#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/*スクロール量の定義*/

#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

/*OS設定を日本語キーボードのまま使用するための変換定義*/

#define JP_DQUOTE       AT                // "
#define JP_AMPERSAND    CARET             // &
#define JP_QUOTE        AMPERSAND         // '
#define JP_EQUAL        UNDER             // =
#define JP_CARET        EQUAL             // ^
#define JP_YEN          0x89              // ¥
#define JP_PLUS         COLON             // +
#define JP_TILDE        PLUS              // ~
#define JP_PIPE         LS(0x89)          // |
#define JP_AT           LEFT_BRACKET      // @
#define JP_COLON        SINGLE_QUOTE      // :
#define JP_ASTERISK     DOUBLE_QUOTES     // *
#define JP_BACKQUOTE    LEFT_BRACE        // `
#define JP_UNDERSCORE   LS(0x87)          // _
#define JP_LBRACKET     RIGHT_BRACKET     // [
#define JP_RBRACKET     BACKSLASH         // ]
#define JP_LPAREN       ASTERISK          // (
#define JP_RPAREN       LEFT_PARENTHESIS  // )
#define JP_LBRACE       RIGHT_BRACE       // {
#define JP_RBRACE       PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
#define JP_HANZEN       GRAVE             // 半角/全角

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/*レイヤータップの設定*/

&lt {
    flavor = "balanced";
    tapping-term-ms = <200>; // 好みの時間を指定（200前後が一般的）
    quick-tap-ms = <175>;    // ここは 175 くらい入れると連打しやすくなります
};

/*マウスキー押下してから500ms後にAMLから抜ける*/

&mkp_input_listener { input-processors = <&zip_temp_layer 4 500>; };

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };

        aaa {
            bindings = <&none>;
            key-positions = <12 11 13 2>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        /*トラックボールでの拡大・縮小用マクロ*/

        sc: scroll_control {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&mo 5 &kp LCTRL>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp LCTRL &mo 5>;

            label = "Scroll Ctrl";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        /*ロータリーエンコーダでのマウススクロール設定*/

        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>;
        };

        /*トラックボールでのスクロール設定*/

        st: scroll_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "Scroll / Tap";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            hold-while-undecided;
        };
         /*トラックボールでの拡大・縮小用behavior*/
        zp: zoom_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "Zoom / Tap";
            #binding-cells = <2>;
            bindings = <&sc>, <&kp>;

            tapping-term-ms = <250>;
            flavor = "balanced";
            hold-while-undecided;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W         &kp E         &kp R           &kp T                                                 &kp Y             &kp U  &kp I      &zp 0 O  &lt 5 P
&kp A      &kp S         &kp D         &kp F           &kp G               &kp LS(LG(S))      &kp BACKSPACE  &kp H             &kp J  &kp K      &kp L    &kp LEFT_BRACKET
&kp Z      &kp X         &kp C         &kp V           &lt 6 B             &lt 3 TAB          &kp ESCAPE     &kp N             &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LCTRL  &kp LEFT_WIN  &kp LEFT_ALT  &kp LEFT_SHIFT  &lt 2 INT_MUHENKAN  &kp SPACE          &kp ENTER      &lt 1 INT_HENKAN                             &kp JP_YEN
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        kigo {
            bindings = <
&kp EXCLAMATION  &kp AT_SIGN     &kp HASH           &kp DOLLAR     &kp PERCENT                             &kp CARET          &kp AMPERSAND    &kp ASTERISK     &kp LEFT_PARENTHESIS  &kp MINUS
&trans           &kp COLON       &kp DOUBLE_QUOTES  &kp SEMICOLON  &kp SQT      &trans         &kp DELETE  &kp RIGHT_BRACKET  &kp JP_RBRACKET  &kp RIGHT_BRACE  &kp JP_RBRACE         &kp UNDERSCORE
&trans           &kp LEFT_BRACE  &kp PLUS           &kp EQUAL      &trans       &none          &none       &trans             &trans           &kp LESS_THAN    &kp GREATER_THAN      &kp QUESTION
&trans           &trans          &trans             &trans         &trans       &kp ENTER      &trans      &trans                                                                     &kp JP_UNDERSCORE
            >;
        };

        NUM {
            bindings = <
&kp F11  &kp F12  &kp ASTERISK  &kp LEFT_PARENTHESIS  &none                                   &kp MINUS  &kp N7        &kp N8        &kp N9        &kp SLASH
&kp F6   &kp F7   &kp F8        &kp F9                &kp F10  &trans         &kp BACKSPACE   &kp COLON  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp DOUBLE_QUOTES
&kp F1   &kp F2   &kp F3        &kp F4                &kp F5   &kp EQUAL      &kp UNDERSCORE  &kp N0     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp COMMA
&trans   &trans   &trans        &trans                &trans   &trans         &trans          &none                                                &kp PERIOD
            >;
        };

        ARROW {
            bindings = <
&trans  &trans  &trans  &trans          &kp LC(HOME)                          &trans        &kp HOME        &kp UP_ARROW    &kp PAGE_UP      &kp ESCAPE
&trans  &trans  &trans  &trans          &kp LC(END)       &trans      &trans  &trans        &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LS(LG(S))
&trans  &trans  &trans  &trans          &kp LEFT_CONTROL  &trans      &trans  &trans        &kp END         &none           &kp PAGE_DOWN    &trans
&trans  &trans  &trans  &kp LEFT_SHIFT  &trans            &trans      &trans  &kp LEFT_GUI                                                   &trans
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        MOUSE {
            bindings = <
&trans            &trans          &kp UP_ARROW    &trans           &trans                      &trans  &trans    &trans    &trans    &trans
&trans            &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans            &trans          &trans          &trans           &trans  &trans      &trans  &trans  &mkp MB4  &trans    &mkp MB5  &trans
&kp LEFT_CONTROL  &trans          &trans          &kp LEFT_SHIFT   &trans  &trans      &trans  &trans                                &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
